<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<h3> HOME PAGE </h3>
<div sec:authorize="isAuthenticated()">
    Logged in user: <b th:inline="text"  class="user" sec:authentication="principal.username">  </b>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
<p>
    <a sec:authorize="isAnonymous()" href="/login">Login</a> <p sec:authorize="isAuthenticated()"> or create one <a href="/user/list" sec:authorize="hasRole('ADMIN')">User management</a> <a  href="/trade/list">Trade management</a><a href="/ruleName/list"> Rule management</a> <a href="/rating/list"> Rating Management</a><a href="/curvePoint/list">Curve Point management</a><a href="/bidList/list">Bid List management</a></p>
</p>
</body>
</html>